<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/login&regis.css">
    <title>Register Page</title>
</head>

<body>
    <div class="container">
        <h1>Register Page</h1>

        <div id="divform">
            <form id="form" action="/register" method="post">
                <input id="text" type="text" name="name" placeholder="Enter your name">
                <input id="email" type="email" name="email" placeholder="Enter your email">
                <input id="password" type="password" name="password" placeholder="Enter your password">
                <button type="submit">Register</button>
                <div id="accountInfo">
                    <h4>Already have an account?</h4>
                <a href="/login">Login</a>
        </div>
    </div>
    </form>
</body>

</html>