<div id="uploadImg">
    <input type="file" name="imagefile" onchange="loadFile(event)" placeholder="Upload Image">
</div>
<div id="imgDetalis">
    <img src="" id="output" srcset="" alt="Upload the Image">

    <textarea name="description" id="description" autofocus maxlength="150"></textarea>
    <div id="the-count">
        <span id="current">0</span>
        <span id="maximum">/ 150</span>
    </div>
    <button type="submit">Upload</button>
</div>